/* You can add global styles to this file, and also import other style files */

:root {
    --white: hsl(0, 0%, 100%);
    --very-light-grayish-blue: hsl(210, 60%, 98%);
    --light-grayish-blue-1: hsl(211, 68%, 94%);
    --light-grayish-blue-2: hsl(205, 33%, 90%);
    --grayish-blue: hsl(219, 14%, 63%);
    --dark-grayish-blue: hsl(219, 12%, 42%);
    --very-dark-blue: hsl(224, 21%, 14%);
}

body {
    width: 95vw;
    height: 100vh;
    background-color: #EEF5FF;
    /* background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%); */
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
}